.navbar-default {
  border-color: rgba(231, 231, 231, 0);
  background-color: transparent;
  width: 100%;
  position: absolute;
}
.navbar-nav {
  float: right;
  }
  .btn-xs{
  border-radius: 11px;
  padding: 1px 12px;
}
.navbar-toggle{
  float: left;
  margin-left: 16px;
}
.navbar-header{
  .btn-lg{
    padding: 5px 3px;
  font-size: 10px;
  margin-top: 15px;
  margin-left: 83px;
  }
}