//Colocar aquí clases utilitarias para todo el sitio. Por ejemplo: márgenes, alineación de texto y color de texto.

$margins-paddings: ("p": "padding", "m": "margin", "pt": "padding-top", "pb": "padding-bottom", "pl": "padding-left", "pr": "padding-right", "mt": "margin-top", "mb": "margin-bottom", "ml": "margin-left", "mr": "margin-right");
// \\ Negative Margins & Paddings
@each $mp-class, $mp-property in $margins-paddings {
	@for $h from 0 to 11 {
	  .#{$mp-class}-#{$h*7} {
	    #{$mp-property}: rem($h*7)!important;
	    #{$mp-property}: ($h*7) + px !important;
	  }
	}
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

/*colores-clases*/
.text-sky{
	color:rgb(107, 192, 236);
}
.text-sky-osc{
	color:#30CBDF
}
.text-gray{
	color: rgb(167, 168, 169);
}
.text-gray-cl{
	color: rgb(192, 192, 188);
}
.orange{
	color:#f4ce0b;
}
.red-cl{
	color:#f03232 !important;
}
.white{
	color: rgb(232, 232, 232);
}
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
p{
	font-family: 'Lato', sans-serif;
}