html , body{
	height: 100%;
}
/*logofarolito*/

img.logo-farolito {
  position: relative;
  right: 166px;
}

/*bottom del responsive  -  modal-ctn efectos*/
.btn-responsive {
  background-color: rgb(247, 75, 75);
  border: rgb(247, 75, 75);
  float: right;
  margin-right: 15px;
  padding: 6px 6px;
  margin-top: 11px;
}
.btn-responsive:hover{
  background-color: rgb(247, 75, 75);
  border: rgb(247, 75, 75);
}
.modal-dialog{
z-index: 2000;
 width: 430px;
 h5{
  padding-left: 23px;
 }
}
.modal-footer{
  border-top: none;
  .btn-primary{
  background-color: #30CBDF;
  border-color: #30CBDF;
  border-radius: 12px;
  padding: 7px 15px;
  }
}
.modal-header {
  text-align: center;
  border: none;
  h4{
    font-size: 33px;
    font-weight: 600;
  }
}
.modal-body {
  padding-bottom: 3px;
  .form-control {
    border-radius: 0;
  }
}
.modal-content {
  border-radius: 25px;
  padding-bottom: 33px;
  border: 5px solid gray;
}
/*fin del bottom-modal */


/* inicio del efecto-barra de navegacion dinamica*/

.navbar{
  background-color: transparent;
  transition:0.8s ease-in-out;
  border-radius: 0px;
  &.scroll{
    background-color: #E6F5F1;
    z-index: 11;
    position: fixed;
  }
}
/*fin-barra*/



/*comenzando el home  -primera parte*/


button.navbar-toggle {
  border: none;
  background-color: transparent;
}
.navbar-default .navbar-toggle:hover {
  background-color:transparent;
  }

.navbar-nav > li > a {
  font-size: 18px;
  .btn-home{
padding:2px 16px;
}
}
#home{
background: url(../img/img-home.png) no-repeat center center scroll;
height: 100%;
width: 100%;
display: table;
background-size: cover;
}

.fondo{
	text-align: right;
vertical-align: middle;
color: rgb(33, 36, 36);
display: table-cell;
h3{
	text-align: center;
	padding: 23px 65px;
  color: rgb(48, 194, 227);
}
h4{
	text-align: center;
	  padding: 0 97px 37px;
    color: rgb(180, 182, 184);
}
.btn-lg {
  background-color:rgb(240, 50, 50);
  border:rgb(240, 50, 50);
    border-radius: 11px;
}
}
.opciones{
  margin-top: 15px;
  border-radius: 10px;
  padding: 1px;
  color:gray;
}
.banner{
  width: 100%;
}
.icono{
  position: relative;
  bottom: -145px;
  img{
    border-radius: 50%;
  }
}


/*segunda parte */


#metodologia{
   padding: 62px 0;
    .icono{
      bottom: -93px;
    }
}

.circulo-overlay{
   height:404px;
  border: 3px dashed tomato;
  border-radius: 50%;
  width: 74%;
  margin: 0 auto;
  padding: 69px;
  h6{
    font-size: 24px;
  }
  img{
      position: relative;
      right: 44px;
  }
}

.metodos {
  text-align: center;
  .row{
    padding-top: 62px;
  }
  .btn-danger{
    background-color: rgb(17, 195, 210);
  border-color: rgb(17, 195, 210);
  padding: 12px 52px;
  border-radius: 20px;
  }
}

.competencia{
  position: relative;
 top: 244px;
  left: 78px;
  p{
    font-size: 17px;
  }
}
.preferencias{
  position: relative;
  top:236px;
  right:78px;
  p{
    font-size: 17px;
  }
}
.analisis{
  padding:54px 140px;
  p{
    font-size: 17px;
  }
}
.circulo-mayor{
  background-color: #f03232;
 width: 74%;
  border-radius: 50%;
  margin: 0 auto;
  height: 404px;
 padding: 8px;
   position: absolute;
  top: 0;
  right: 80px;
}
.circulo-menor{
  background-color: #f03232;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  border: 3px dashed white;
  p{
    padding: 88px 45px;
  padding-bottom: 25px;
  color: rgb(232, 232, 232);
  font-size: 21px;
  }
  h6{
    color:  rgb(232, 232, 232);
  font-size:21px;
  }
}
.linea1{
   border: 2px dashed #f03232;
  transform: rotate(157deg);
  position: relative;
  left: 144px;
  top: 191px;
  width: 72%
}
.linea2{
   border: 2px dashed #f03232;
  transform: rotate(90deg);
  position: relative;
  width:96px;
  top: 25px;
}
.linea3{
  border: 2px dashed #f03232;
  transform: rotate(202deg);
  position: relative;
  right: 145px;
  top:191px;
  width: 72%;
}


 /*tercera parte */


 #postulacion{
background: url(../img/img-02.png) no-repeat center center scroll;
text-align: center;
color:white;
padding: 68px 0;
.icono{
  bottom: -106px;
}

}
.pasos{
  padding-top:85px;
  h3{
    text-align: left;
    border-bottom: 2px dashed white;
    margin-left: 53px;
    padding-bottom: 18px;
  }
  hr{
    border: 2px dashed white;
  }
  p{
  border-left: 2px dashed white;
  padding-bottom: 148px;
  padding-left: 81px;
  padding-top: 17px;
}
   .btn-danger{
    padding: 17px 44px;
  border-radius: 24px;
  color: #fff;
  background-color: #32B5D0;
  border-color: #FCFCFC;
  }
  .numero{
  position: relative;
  top: 14px;
  right: 14px;
  img{
    float: left;
  }
  }
  .col-md-4{
    padding-left: 0px;
  }
}

.imagen-centro{
  float: right;
  border-radius: 50%;
  position: relative;
  bottom: 1px;
  left: 76px;
  z-index: 10;
  width: 34%;
}


/*cuarta parte*/


#empresas{
  padding-top: 73px;
  padding-bottom: 28px;
  .titulo{
    h2{
      color:red;
    }
    h3{
      color: rgb(153, 150, 150);
    }
    h4{
      color: rgb(197, 197, 197);
    }
  }
  hr{
    border: 1px dashed red;
  }
  .icono{
        bottom: -59px;
  }
  .btn-danger{
    color: #fff;
  background-color: #F1694D;
  border-color: #F1694D;
  width: 196px;
  height: 59px;
  border-radius: 20px;
  font-size: 18px;
  }
}
.clases{
  text-align: center;
  padding: 75px 117px;
  p{
    color:#C7C1C1;
  }
  h4{
      color: rgb(169, 168, 168);
      margin: 18px 0;
  }
  h5{
    color: rgb(106, 235, 245);
  }
  img{
      border-radius: 50%;
       margin-bottom: 25px;
  }
  .btn-danger {
  margin-top: 58px;
}
} 


/*quinta parte */


#centros-edu{
  background-color:#72EA72;
  padding-top: 73px;
  padding-bottom: 35px;
  hr{
    border: 1px dashed white;
  }
  .texto{
    h2{
      color: white;
    }
    h3{
      color: rgb(245, 245, 31);
    }
    h4{
      color: rgb(242, 247, 247);
    }
  }
  .clases-edu{
    padding: 75px 117px;
    h4{
      color: #F0ECEC;
      margin: 18px 0;
    }
    p{
      color: #FAF5F5;
    }
    img{
      border-radius: 50%;
      margin-bottom: 25px;
    }
  }
  .icono {
    bottom: -67px;
  }
  .btn-danger{
      color: #fff;
  background-color:#72EA72;
   border-color:white; 
   width: 196px;
  height: 59px;
  border-radius: 20px;
  font-size: 18px;
  }
}


/*sexta parte*/


#oportunidades{
  background: url(../img/img-oportunidades-24.png) no-repeat center center scroll;
background-size: cover;
 .icono{
    bottom: -103px;
  }
  .container{
    padding: 65px 141px;
  }
}
/*clase white*/

.white{
  background-color: white;
  .row{
    text-align: center;
  padding-top: 55px;
  color: rgb(155, 155, 155);
  font-size: 29px;
  }
  hr{
    border: 1px dashed rgb(202, 197, 197);
    width: 77%;
      margin-left: 121px;
  }
  .button{
    text-align: center;
  padding: 55px;
  .btn-primary{
  color: #fff;
  background-color: #A0A3A5;
  border-color: #A0A3A5;
  width: 111px;
  border-radius: 12px;
  }

  }
}
/*clase de servicios*/

.servicios{
  padding: 34px 87px;
  ul{
    list-style: none;
  }
  li{
    color: rgb(153, 153, 153);
      font-size: 14px;
  }
  .btn-primary{
    float: right;
    background-color: white;
  border-color: red;
  color: red;
  border-radius: 7px;
  width: 93px;
  }
  h4{
     text-decoration: underline;
     color: rgb(45, 223, 216);
  }
}


/*sexta parte*/


#blog{
  text-align: center;
  padding-bottom: 35px;
    padding-top: 29px;
    padding-bottom: 0;
  h2{
    color:rgb(155, 155, 155);
  }
  .btn-primary{
    width: 239px;
  height: 57px;
  font-size: 17px;
  border-radius: 20px;
  background-color: #11C3D2;
  border-color: #11C3D2;
  }
  .row{
    padding: 93px 141px;
      padding-bottom: 50px;
    img{
      position: relative;
      bottom: 40px;
      border-radius: 50%;
      }
    .parrafo{
    padding: 0 30px 45px;
  position: relative;
            }
    }
  .icono{
    bottom: -101px;
      }
    }
  /*--hover---*/
.background{
  background-color:rgb(239, 234, 234);
  color:rgb(176, 176, 173);
}
.background:hover{
background-color:rgb(244, 206, 11);
.parrafo{
  color:white;
}
}


 /*septima parte*/


#contacto{
  padding: 72px 0;
    background-color: rgb(236, 236, 236);
  h2{
    text-align:center;
    color:rgb(155, 155, 155);
     }
     span{
      float: left;
      padding-top: 55px;
      color: rgb(155, 155, 155);
     }
 form{
  padding-top: 38px;
  .btn-default{
    float:right;
    margin-top: 21px;
    padding: 4px 41px;
    background-color: #8C8C8C;
    border-color:#8C8C8C;
    color: white;
  }
 }
}


 /*octava parte*/


/*mediascreen*/
@media screen and (min-width :480px){
.navbar-header .btn-primary{
  visibility: hidden;
  }
}
@media screen and (max-width :480px){
  .fondo h3{
    padding:23px 0;
  }
  .fondo h4{
     padding: 0 0 37px;
  }
  .fondo{
  padding-top: 85px;
  }
}

@media screen and (max-width :480px){
  #home{
    background: none;
  }
  #empresas {
      padding-top: 39px;
      padding-bottom: 49px;
  .btn-danger{
      margin-top: 45px;
  }
}
}
@media screen and (max-width :480px){
  .clases{
    padding: 0;
  }
  #centros-edu {
      padding-top: 30px;
  .clases-edu {
   padding:0;
}
.btn-danger{
  margin-top: 37px;
}
}
}
@media screen and (max-width :480px){
  #blog .row{
    padding: 64px 0;
    .parrafo {
  padding: 0 30px 6px;
    p{
      margin-top: 20px;
      }
    }
  }
  #footer .container{
    text-align: center;
    span{
        padding: 10px 32px;
    }
  }
  .analisis{
    padding: 0;
  }
  .competencia {
  padding: 0;
  position: initial;
  top:0;
  left:0;
  }
  .background{
       background-color: transparent;
       padding-bottom: 0;
      margin-top: 0 !important;
  }
  #blog {
  padding: 34px 0 !important;
  }
}

@media screen and(max-width: 480px){
  .linea3 {
  border: 2px dashed red;
  transform: rotate(0deg);
  position: initial;
  right: 0;
  top: 0;
}
.linea2 {
  border: 2px dashed red;
  transform: rotate(0deg);
  position: initial;
  width: 139px;
  }
  #metodologia{
    padding: 45px 0 59px;
  }
.preferencias {
  padding: 0 ;
  position: initial;
  top: 0;
  right: 0;
}
.metodos{
 h2{
  color:#11c3d2;
}
.row{
  padding-top: 0;
  padding-bottom: 27px;
}
}
}

@media screen and (max-width :480px){
  #postulacion{
      padding:0;
      h2{
          margin-top: 49px;
      }
  }
  .pasos{
    padding-top: 0;
      padding-bottom: 49px;
    .btn-danger{
        margin-top: 39px;
    }
  }
   .pasos p {
   padding-bottom: 0; 
  padding-left:0; 
   padding-top:0; 
   border-left: 0;
    }
    .pasos .row h3{
      text-align: inherit;
        margin-left: 0;
    }
  .pasos .numero {
  position: initial;
  padding: 24px 0;
  img{
    float: none;
  }
  }
.imagen.centro{
    float: none;
  position: initial;
  bottom: 0;
  left: 0;
}
.imagen-centro {
   float: none;
   position: initial;
   bottom: 0;
   left: 0; 
}
}

@media screen and (max-width :480px){
  #bs-example-navbar-collapse-1 {
  background-color: rgb(131, 184, 207);
  height: 100%;
  }
  .navbar-nav {
   float: none !important;
  text-align: center;
   padding: 0;
  }
  .navbar-default {
  height: 100% !important;
  }
  .nav > li {
  background-color: rgb(131, 184, 207);
  padding: 12px 0;
  }
  .navbar-nav > li > a {
  color: #FDF9F9 !important;
  font-size: 26px;
  border-bottom: 2px dashed white;
  }
  .navbar.scroll {
  background-color:transparent;
  }
}