html , body{
	height: 100%;
}
/*seccion de la portada .1parte*/
.nav-color{
	background-color: rgb(230, 245, 241) !important;
  	position: fixed !important;
  	z-index: 10 !important;
}
.navbar-nav .btn-primary{
  background-color: #9A9B9D;
  border-color: #9A9B9D;
  padding: 2px 25px;
}
.navbar-brand{
	padding: 7px 49px;
}

#portada-nst{
background: url(../img/img_nosotros-02.png) no-repeat center center scroll;
height: 74%;
width: 100%;
display: table;
background-size: cover;
.centro{
	  text-align: center;
  	padding: 85px 100px;
  	color: rgb(250, 246, 239);
  	h5{
  		font-size: 20px;
  		margin: 0;
  		line-height: 28px;
  		color: rgb(232, 232, 232);
  	}
}
.icono{
	  bottom: -128px;
}
}
/*seccion de fundadores */
#fundadores{
	text-align: center;
	padding: 40px 0;
	h2{
		padding: 38px 0;
	}
	hr{
		border-bottom:1px dashed gray;
		width: 76% 
	}
}
.gerentes{
	padding: 27px 99px;
	.foto{
	border-radius: 50%;
	border: 1px solid black;
	width: 68%;
	padding: 5px;
	margin: 0 auto;
  	img{
  		border-radius: 50%;
 		width: 100%;
  		}
		}
	}
/*seccion de asesores parte3*/

#asesores{
text-align: center;
	.foto{
	border-radius: 50%;
	border: 1px solid black;
	width: 68%;
	padding: 5px;
	margin: 0 auto;
  	img{
  		border-radius: 50%;
 		width: 100%;
  		}
			}
	hr{
		border-bottom:1px dashed gray;
		width: 76% 
		}
}
/*seccion de comite*/

#comite{
	text-align: center;
  padding-top: 28px;
  .centro{
  	padding: 32px 110px 70px;
  }
  .icono{
  	bottom: -36px;
  }
}


/*/*seccion frase */
#frase{
	background-color:#f03232;
	padding: 89px 0;
	h4{
		font-size: 23px;
	}
	h5{
		margin: 0;
		font-size: 16px;
		padding-top: 17px;
	}
	.span{
		text-align: center;
		color: white;
		hr{
			border: 1px dashed white;
		}
	}
	img{
		border-radius: 50%;
	}
}

/*mediascreen*/
@media screen and(max-width: 480px){
	#portada-nst .centro{
		padding: 48px 0;
	}
	.gerentes {
 		padding:0;
	}
}